<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--方格设置：行个数、列个数-->
    <add key="row" value="3" />
    <add key="col" value="1" />
    <!--检查信息(可截选马达的日期字符串做日期匹配，选出配置日期的马达)-->
    <add key="startInt" value="3" />
    <add key="endInt" value="7" />
    <add key="SNstr" value="9474|9475" />
  </appSettings>
</configuration>