<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <!--方格设置：行个数、列个数-->
    <add key="row" value="8" />
    <add key="col" value="4" />
    <!--S/N检查的字符-->
    <add key="checkPPP" value="123,FT2,FH1,GH9" />
    <add key="checkEEEE" value="2345,H8RW,HP0C,HM9X,JDXV,KPK6" />
    <!--csv字符-->
    <add key="isNewFormat" value="1" />
    <add key="type" value="KK08" />
    <add key="factory" value="NSTD" />
    <add key="building" value="M-1" />
    <add key="line" value="L01" />
    <add key="process" value="OK2SHIP" />
    <add key="inspect" value="OK2SHIP" />
    <add key="ok2ship_MachineName" value="OK2SHIP01" />
    <!--API-->
    <add key="API_OK2Ship" value="http://10.10.100.122/kk08/ok2ship/json.php" />
  </appSettings>
</configuration>